<ng-container *ngIf="team">
  <span class="pull-right clickable close-icon" (click)="onUntrack(team.id)" [id]="'remove'+team.abbreviation"><i class="fa fa-times cardspace close"></i></span>
  <div class="card-header" >
    {{team.fullname}} [{{team.abbreviation}}]
    <p class="subtitle">{{team.conference}} conference</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <p>Results of past 12 days</p>
        <app-games-strip [games]="team.games" [teamId]="team.id"></app-games-strip>
        <ng-container *ngIf="team.getGamedAvg as avg" >
          <p>Avg pts scored: <strong>{{avg.score}}</strong></p>
          <p>Avg pts conceded: <strong>{{avg.conceded}}</strong></p>
        </ng-container>
      </div>
      <div class="col-6"><img *ngIf="team.imgUrl" [src]="team.imgUrl" class="imgSize" /></div>
    </div>
    <a [id]="'results'+team.abbreviation" [routerLink]="['/results/'+team.id]" class="btn btn-primary">See game results > ></a>
  </div>
</ng-container>

